

.testimonial_section {
  width: 93%;
  padding: 40px 40px;
 background-color: #140a1e;
 border-radius: 20px;
  text-align: center;
  overflow: hidden;
  margin-top: 300px;
  margin-left: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
 
}
.testimonial_section h2{
    margin-bottom: 50px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.testimonial_intro {
  max-width: 600px;
  margin: 0 auto 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 50px;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slider_track {
  display: flex;
  width: calc(250px * 16); /* 8 + 8 duplicate */
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.testimonial_card {
  width: 250px;
  background: black;
  margin: 0 15px;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  flex-shrink: 0;
}

.stars {
  color: #f1c40f;
  margin-bottom: 15px;
}

.client_info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.client_info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.client_info h4 {
    color: white;
  margin: 0;
}

.client_info span {
  font-size: 12px;
  color: white;
  
}

.message {
  font-size: 14px;
  line-height: 1.5;
  color: white;
}
