/* Work Process Section */
.workprocess_container {
  background-color: #060709;
  width: 100%;
  padding: 60px 20px;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  opacity: 0;
  animation: slideDown 1.5s forwards;
}

/* Heading */
.workprocess_container h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 55px;
  background: linear-gradient(120deg, #764cd1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Services container */
.services {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Service box */
.serviceBox {
  width: 400px;
  max-width: 90%;
  background: #111;
  border-radius: 12px;
  text-align: center;
  color: white;
  transition: 0.3s ease;
  margin-top: 60px;
  box-shadow: 4px 4px 0px rgba(146, 110, 225, 0.5);
}

.serviceBox img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}

.serviceBox h3 {
  margin-top: 15px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.serviceBox:hover {
  transform: translateY(-8px);
  cursor: pointer;
  color: #926ee1;
  box-shadow: 0 15px 35px rgba(65, 20, 65, 0.6);
}

/* Button */
.exploreBtnBox {
  text-align: center;
  margin-top: 80px;
}

.exploreBtn {
  padding: 12px 30px;
  font-size: 30px;
  background: #111;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.exploreBtn:hover {
  background: #333;
  transform: translateY(-3px);
}

/* ========================= */
/* RESPONSIVE BREAKPOINTS */
/* ========================= */


/* 1920px */
@media (max-width:1920px){
  .workprocess_container h1{
    font-size:42px;
  }
  .serviceBox{
    width:360px;
  }
}

/* 1440px */
@media (max-width:1440px){
  .workprocess_container h1{
    font-size:42px;
  }
  .serviceBox{
    width:360px;
  }
}
@media (max-width:1280px){
  .workprocess_container h1{
    font-size:42px;
  }
  .serviceBox{
    width:300px;
  }
}

/* 1024px */
@media (max-width:1024px){
  .workprocess_container h1{
    font-size:38px;
  }
  .serviceBox{
    width:320px;
  }
}

/* 768px */
@media (max-width:768px){
  .workprocess_container h1{
    font-size:34px;
  }
  .services{
    gap:35px;
  }
  .serviceBox{
    width:330px;
  }
}

/* Mobile 600px */
@media (max-width:600px){
  .workprocess_container{
    padding:40px 15px;
  }

  .workprocess_container h1{
    font-size:30px;
  }

  .services{
    flex-direction:column;
    align-items:center;
  }

  .serviceBox{
    width:90%;
    margin-top:30px;
  }

  .exploreBtn{
    font-size:22px;
  }
}

/* Small Mobile 350px */
@media (max-width:350px){
  .workprocess_container h1{
    font-size:26px;
  }
  .exploreBtn{
    font-size:20px;
    padding:10px 24px;
  }
}